*{
	
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
html,
body {
      font-family: sans-serif;
      margin:0;
      min-height: 100%;
    }
.profile{
  margin-left: 30%;
  padding: 30px;
}
.profile h1{
  color:  rgb(151, 128, 255);
  font-weight: 900;
}
.form5{
	width:340px;
	height:440px;
	border-radius:8px;
	padding:20px 30px;
	box-sizing:border-box;
	position:relative;
}
.form5 input{
	width:100%;
	padding:10px;
	box-sizing:border-box;
	background:white;
	outline:none;
	resize:none; 
	transition:all .3s;
	border-bottom:2px solid rgb(0, 0, 0);
}
.form5 label{
	content:attr(type);
	display:block;
	margin:28px 0 0;
	font-size:19px;
	font-weight: 900;
}

.form5 button{
	float:right;
	padding:8px 12px;
	margin:8px 0 0;
	width: 100%;
	border-radius: 5px;
	border:2px solid rgb(167,94,221,1);
	background:rgb(167,94,221,1);
	cursor:pointer;
	transition:all .3s;
}
.form5 button:hover{
	background:rgb(128,255,128,1);
	border:2px solid rgb(128,255,128,1);
	color:#fff;
}
/*------------- appointment---------------*/
.booking {
  padding: 100px;
}
.booking h1{
	color: rgb(128,255,128,1);
	font-weight: 9000;
	padding-bottom: 15px;

}
.booking .appointments {
  border-collapse: collapse;
  width: 100%;

}

.booking .appointments td,th {
  border: 1px solid #ddd;
  padding: 8px;
}



.booking .appointments th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: blue;
  color: white;
}

/*------------- appointment---------------*/
.spare-parts{

	display: inline-block; 
	padding: 10px; 
	height: 320px; 
	width: 400px; 
	border-radius: 5px; 
	border: 2px solid rgb(128,255,128,1);  
	margin: 30px;  
	background: white;
	


}
.spare-butt button{
	height: 30px;
	width: 50px;
	color: blue;
	border: 2px solid blue;
	font-weight: 800;
	background-color:white;
}
.spare-butt button:hover{
	background-color:blue;
	color: white;
}

/*------------- services---------------*/
.services{

	padding: 50px;
}					

.services .services-icon {
	padding: 5px; 
	margin: 5px;
	display: inline-block;
	background: white;
	width: 400px;
	height: 250px;
	border-radius: 5px;
	cursor: pointer;
	border: 2px solid rgb(128,255,128,1);
}
.services .services-icon:hover{
	zoom: 100%;
}
.services-icon img{
	float: left;
	margin-top: 40px;
	margin-left: 0px;
	height: 120px;
	width: 180px;
	position: absolute;
}

.services .services-icon h1{
    color: red;
	font-size: 20px;
	margin-top: 20px;
	margin-left: 0px;
	position: relative;
	
}
.services .services-icon p{
	float: right;
	margin-top: 10px;
	margin-left: 180px;
	position: relative;
	color: black;

}
/*-------------choose-us part---------------------*/
.choose{
	
}
.choose .choose-us{
	
	padding: 20px;
	padding-bottom: 30px;
	margin-left: 14%;
	margin-top: 60px;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background-color:;
	text-align: center;
	color: skyblue;
	border: 2px solid skyblue;
}
.choose .choose-us i{
   font-size: 80px;
   line-height: 100px;
   }
 .choose-text .choose-us-text{
 	}
/*------------- testimonial Part -----------------*/
.above-slider{
	height: 350px;
}
.above-slider .information{
	display: inline-block;
	padding: 20px;
	padding-bottom: 30px;
	margin-left: 10%;
	margin-top: 60px;
	height: 170px;
	width: 170px;
	border-radius: 50%;
	background-color: rgb(167,94,221,1);
	text-align: center;
	color: white;
}
.above-slider .information i{
    font-size: 35px;
   padding-bottom: 9px;
}
.above-slider .information  h2{
     padding: 8px;
     font-size: 26px;
     font-weight: 900;
}
.above-slider .information p{
     padding: 7px;
}

/*------------- slideshow-container---------------*/
.section-3 .slide-head{
	color:white; 
	text-align: center;
	font-weight: 900;
	padding-top: 40px;
}
.section-3 .slide-head span{
	color: red;
}
.section-3 .slideshow-container{
	padding:90px; 
    margin-left: 20%;
}	
		
.section-3 .mySlides {
	display: none;
	height: 250px; 
	width: 80%; 
	border:2px solid white; 
	color:blue; 
	background-color: white; 
	padding: 20px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;"
	
}


.section-3 .mySlides p{
	color: blue;
	text-align: center;
    justify-content: center;
}
.section-3 .mySlides i{
	padding: 10px; 
	color: black;
}
.section-3 .mySlides h5{

text-align: center; 
color: black; 
font-size: 20px;
}
/* The dots/bullets/indicators */
.section-3 .dot {

  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.section-3 .active {
  background-color: #717171;
}

/* Fading animation */
.section-3 .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .6}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 2}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 1000px) {
  .section-3.text {
  	font-size: 11px;
  }
}
/*-------------enquiry---------------*/
.enquiry form{
	margin-left: 250px;
	background-color: red;
}

